packer_cache
output-*
output/
tmp/
vendor/*
*.bak
*.iso
hiera/*
drivers/
packer
!manifests/modules/packer
.DS_Store
Gemfile.lock
Gemfile.local
acceptance/junit/*
acceptance/log/*
acceptance/tmp/*
acceptance/hosts.yaml
